@model AkademiaV2.Models.ViewModels.AlumnoColaborador

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Alumnos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AlumnoColaboradores.Alumnos.Nombre" class="control-label"></label>
                <input asp-for="AlumnoColaboradores.Alumnos.Nombre" class="form-control" />
                <span asp-validation-for="AlumnoColaboradores.Alumnos.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlumnoColaboradores.Alumnos.Apellidos" class="control-label"></label>
                <input asp-for="AlumnoColaboradores.Alumnos.Apellidos" class="form-control" />
                <span asp-validation-for="AlumnoColaboradores.Alumnos.Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlumnoColaboradores.Alumnos.Imagen" class="control-label"></label>
                <input asp-for="AlumnoColaboradores.Alumnos.Imagen" class="form-control" />
                <span asp-validation-for="AlumnoColaboradores.Alumnos.Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlumnoColaboradores.Alumnos.Email" class="control-label"></label>
                <input asp-for="AlumnoColaboradores.Alumnos.Email" class="form-control" />
                <span asp-validation-for="AlumnoColaboradores.Alumnos.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlumnoColaboradores.Alumnos.Telefono" class="control-label"></label>
                <input asp-for="AlumnoColaboradores.Alumnos.Telefono" class="form-control" />
                <span asp-validation-for="AlumnoColaboradores.Alumnos.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlumnoColaboradores.Alumnos.CartaMotivacional" class="control-label"></label>
                <input asp-for="AlumnoColaboradores.Alumnos.CartaMotivacional" class="form-control" />
                <span asp-validation-for="AlumnoColaboradores.Alumnos.CartaMotivacional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlumnoColaboradores.Alumnos.FechaNacimiento" class="control-label"></label>
                <input asp-for="AlumnoColaboradores.Alumnos.FechaNacimiento" type="date" asp-format="{0:d}" class="form-control" />
                <span asp-validation-for="AlumnoColaboradores.Alumnos.FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlumnoColaboradores.Alumnos.Comentarios" class="control-label"></label>
                <input asp-for="AlumnoColaboradores.Alumnos.Comentarios" class="form-control" />
                <span asp-validation-for="AlumnoColaboradores.Alumnos.Comentarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlumnoColaboradores.Alumnos.Edicion" class="control-label"></label>
                <input asp-for="AlumnoColaboradores.Alumnos.Edicion" class="form-control" />
                <span asp-validation-for="AlumnoColaboradores.Alumnos.Edicion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlumnoColaboradores.Colaboradores" class="control-label"></label>
                <select>
                  
                    @foreach (Colaboradores colaboradores in Model.Colaboradores)
                    {
                        <option value="@colaboradores.Id">@colaboradores.Nombre</option>
                    }
                  
                </select>
                <span asp-validation-for="Colaboradores" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
