@model AkademiaV2.Models.ViewModels.Alumnos_en_TallerVM
@{
    ViewData["Title"] = "ShowAlumnos_in_Taller";
}

<h1>ShowAlumnos_in_Taller</h1>

<table class="table">
    <thead>
        <tr>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>


<div class="card my-3 no-b">
    <div class="card-body">
        <div class="card-title">Simple usage</div>
        <table id="example2" class="table table-bordered table-hover data-tables"
               data-options='{ "paging": false; "searching":false}'>
            <thead>
                <tr>
                    <th> @Model.Taller.Nombre</th>
                    <th>@Model.Taller.Akademia.Ciudad</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Where(o => o.TallerId == 1))
                {
                    <tr>
                        <td>@item.Alumnos.Nombre</td>
                        <td>
                            Internet
                            Explorer 4.0
                        </td>
                        <td>Win 95+</td>
                        <td> 4</td>
                        <td>X</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>