@model AkademiaV2.Models.Talleres

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Talleres</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaTaller" class="control-label"></label>
                <input asp-for="FechaTaller" class="form-control" />
                <span asp-validation-for="FechaTaller" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Karrusel" class="control-label"></label>
                <input asp-for="Karrusel" class="form-control" />
                <span asp-validation-for="Karrusel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edicion" class="control-label"></label>
                <input asp-for="Edicion" class="form-control" />
                <span asp-validation-for="Edicion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evaluaciones" class="control-label"></label>
                <input asp-for="Evaluaciones" class="form-control" />
                <span asp-validation-for="Evaluaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarpetaPrincipal" class="control-label"></label>
                <input asp-for="CarpetaPrincipal" class="form-control" />
                <span asp-validation-for="CarpetaPrincipal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
